html {
  background-image: url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  }

h1 {
  font-family: "Bebas Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #0a3641;
  margin-bottom: 0;
}

.cta-button {
  text-decoration: none;
  background-color: #caefd3;
  width: 120px;
  text-align: center;
  color: #000000;
  display: inline-block;
  font-family: "Bebas Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 3px 3px 20px 0px #000000;
  padding-block: 5px;
  padding-inline: 10px;
 }

 .text-box {
  margin-top: 40px;
  background-color: #caefd3;
  text-align: center;
  color: #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  
}

.home-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 100px;
}

.back-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.home-cta-spacing {
  margin-inline: 100px;
  margin-block: 10px;
}

header {
  background-color: #7aa385;
  border: black;
  box-shadow: 0px 0px 3px 0px black inset;
  padding: 0.5px;
}

.navtext {
  color: #0a3641;
  font-family: "Bebas Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  position: sticky;
  left: 1250px;
  padding-right: 10px;
}

nav li {
  display: inline-block;
  font-family: "Bebas Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: larger;
  padding: 10px;
}

.nav-button:hover {
  background-color: #caefd377;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #7aa385;
  height: 25px;
  text-align: center;
  border: black;
  box-shadow: 0px 0px 3px 0px black inset;
  display: flex;
  justify-content: center;
  color: #0a3641;
  text-decoration: none;
}

.footer {
margin-inline: 20px;
display: inline-block;
}

.footerlink {
  text-decoration: none;
  color: #0a3641;
}

.quote-box {
  float: right;
 }

.quote {
  background-color: #000000;
  text-align: center;
  opacity: 60%;
  color: #ffffff;
  width: 361px;
  height: 220px;
  font-size: medium;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.position {
 position: relative; 
 top: 100px;
}



@media (max-width: 1200px) {
  .navtext {
    display: none;
  }
}

@media (max-width: 600px) {
  header {
    display: none;
  }

  html {
    background-size: auto;
    background-position: center;
    background-position: 50% 15%
  }

  .logo {
    max-width: 80%;
  }
}
